:root {
    --white: rgb(255, 255, 255);
    --background-grey: rgb(63, 63, 63);
    --background-dark-grey: rgb(7, 8, 43);
    --background-black: rgb(0, 0, 0);
    --woodz-blue: #151baa;
    --woodz-orange: #f76902;
}

/* * {border: 1px solid white;} */

/* COLLECT ALL "CLEAR"
COLLECT ALL "FLEX BOX - COLUMN"
BODY MIN/MAX WIDTH */

body {
    margin: 0;
    background-image: linear-gradient(#3F3F3F, #000000);
}

.load-bg {
    background-color: var(--background-grey);
}

/* #splatter img {
    display: hidden;
    z-index: 5;
    max-width: 100%;
    position: fixed;
    top: 0px;
} */

h2,
h3,
nav li a {
    font-family: 'Anton', sans-serif;
    color: var(--woodz-orange);
    letter-spacing: 0.1rem;
    font-size: 200%;
}

h2 {
    align-items: flex-end;
}

h1 {
    text-align: center;
    color: rgb(19, 19, 19);
    -webkit-text-stroke: 1px rgb(177, 177, 177);
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.05em;
    text-decoration: underline px var(--woodz-orange);
    font-size: 3em;
    margin-top: 0;
}

h1 span {
    font-size: .6em;
    -webkit-text-stroke: transparent;
    letter-spacing: -.12em;
}

h3 {
    display: inline-block;
    text-align: end;
    margin-top: 0;
    padding-left: 50px;
    border-bottom: 2px solid var(--woodz-blue);
    /* font-size: 1rem; */
}

.text-p p {
    margin: auto;
    max-width: 70%;
}

p, li, label, h4, input, textarea, button {
    color: aliceblue;
    font-family: "Montserrat", "Arial", "Verdana", "Georgia";
}

#spinner {
    max-width: 60px !important;
}

.hidden,
.nav-hidden {
    display: none;
}

nav li, .align {
    text-align: center;
    margin: 15px;
}

nav ul li a p {
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 70%;
}

#backButton {
    cursor: pointer;
    margin-top: 20px;
}

#backButton img {
    max-width: 30%;
}
#backButton p {
    margin: 0;
    position: relative;
    left: 2px;
}

img {
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
}

a {
    text-decoration: none;
}

header picture img {
    max-width: 100%;
    position: relative;
    top: -35px;
}

header>div {
    align-items: flex-end;
}

header>div>button {
    width: 60px;
    position: relative;
    right: 30px;
    top: 25px;
    z-index: 1;
}

header>div>button>img {
    height: 25px;
}

button {
    background-color: transparent;
    color: white;
    border-color: transparent;
}

ul,
li,
li>a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    ;
}

nav {
    align-items: center;
    background-color: var(--background-black);
    height: 100vh;
    width: 100%;
    z-index: 3;
    position: fixed
}

nav button {
    position: fixed;
    right: 0px;
}

nav ul {
    margin: auto;
}

.style-border,
.style-border a {
    align-items: flex-end;
    margin: auto;
    max-width: 80%;
}

.style-border div {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    border: 1px solid white;
}

.style-border h2 {
    flex-direction: row;
    align-items: baseline;
}

.style-border img {
    max-width: 100%;
    position: relative;
    left: 10px;
    top: 10px;
}

.style-border span {
    font-size: x-small;
}

.style-border h2 {
    border-bottom: 2px solid var(--woodz-blue);
    margin-bottom: 7px;
    padding-left: 20px;
}

#posts {
    clear: both;
    align-items: center;
    justify-items: center;
}

#posts div {
    max-width: 90%;
    text-align: end;
}

#posts img {
    max-width: 100%;
}

#filter {
    align-items: center;
}

#load-more {
    display: flex;
}

#load-more button, #filter > button, #submit {
    margin: auto;
    cursor: pointer;
    padding: 10px 45px;
    border: 1px solid aliceblue;
}

#post {
    max-width: 100%;
    position: relative;
    top: -90px;
}

#post > div > p {
    padding: 15px 10px 10px 0;
    position: relative;
    top: -50px;
}

#post img {
    max-width: 100%;
    object-fit: contain;
}

#carousel-section, .cover2 a {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover1 img, .cover3 img{
    max-width: 130%;
    display: block;
    margin: auto;
    position: relative;
}

.cover3 img {
    right: 30%;
}

.cover2 img {
    max-width: 200%;
    z-index: 2;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

#carousel-section i {
    color: var(--woodz-blue);
    font-size: 2rem;
    position: relative;
}

#profile, #discography, #gallerylink {
    max-width: 70%;
}

#profile-txt {
    clear: both;
}

#profile-txt p {
    margin: 20px;
    max-width: 100%;
}

#profile-txt .style-border p {
    padding-bottom: 0px;
}

#gallery img {
    max-width: 90%;
}

#gallery div {
    justify-items: center;
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
}

#form {
    clear: both;
    width: 85%;
    max-width: 900px;
    margin: auto;
    background-color: rgb(128, 128, 128, .1);
}

#myForm h4 {
    margin: 30px 0 5px 0;
}

#myForm ul, #form p {
    padding: 30px 30px 30px 20px;
    margin: 0;
}

input, textarea {
    border-radius: 7px;
    border: none;
    background-color: var(--background-grey);
    outline: none;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    padding: 10px 0 10px 10px;
    width: 50%;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
}

input[type='radio'] {
    filter: grayscale(1);
}

input:hover, input:focus, textarea:hover, textarea:focus {
    background-color: #595959;
}

#responsMsg p {
    color: rgb(155, 1, 1);
    text-align: center;
    font-size: 1rem;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.5rem;
    margin-top: 50px;
}

nav, header>div, #myForm, h2, #filter, #posts, .style-border,
.style-border a, #posts div a {
    display: flex;
    flex-direction: column;
}

h1, #carousel-section, .style-border, #posts div, #dropdown, #filter, #gallery img, #submit {
    margin-bottom: 60px;
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 70%;
    max-height: 85%;
}

.active {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}



@media screen and (min-width: 480px) {

    #carousel-section {
        margin: auto;
        max-width: 70%;
    }

    #posts {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    h3 {
        padding-left: 0;
        font-size: 150%;
    }

    #carousel-section {
        padding-bottom: 120px;
    }

    .style-border a {
        max-width: 60%;
    }

    #post, #post > div > p {
        position: relative;
        top: -20px;
        max-width: 70%;
    }

    #post div {
        margin: auto;
    }

    #profile-txt section {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    #profile-txt p {
        max-width: 45ch;
    }

    #profile-txt div {
        max-width: 60%;
    }

    #gallery {
        padding: 60px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
       
}


@media screen and (min-width: 1280px) {
    body {
      margin: auto;
      max-width: 1920px;
    }

    #main-page-links {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #posts {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .style-border a {
        max-width: 80%;
    }

    #post {
        max-width: 80%;
        margin: auto;
    }
    
    #post > div > p {
        float: right;
        width: 50%;
        margin: 0;
    }
    
    #post figure {
        float: left;
        max-width: 50%;
        margin: 0;
    }

    #gallery {
        padding: 100px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
    }
    
    footer {
        clear: both;
    }

}