:root {
    --white: rgb(255, 255, 255);
    --background-grey: rgb(63, 63, 63);
    --background-dark-grey: rgb(7, 8, 43);
    --background-black: rgb(0, 0, 0);
    --woodz-blue: rgb(21, 27, 170);
    --woodz-orange: rgb(247, 105, 2);
}

/* * {border: 1px solid white;} */

body {
    margin: 0;
    background-image: linear-gradient(#3F3F3F, #000000);
}

.load-bg {
    background-color: var(--background-grey);
}

h1,
h2,
h3,
nav li a {
    font-family: 'Anton', sans-serif;
    color: var(--woodz-orange);
    letter-spacing: 0.1rem;
    font-size: 200%;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    float: right;
    margin-right: 88px;
}

h3 {
    text-align: end;
    margin-top: 0;
}

p, li, label, h4 {
    color: aliceblue;
    font-family: "Montserrat", "Arial", "Verdana", "Georgia";
}

#spinner {
    max-width: 60px !important;
}

.hidden,
.nav-hidden {
    display: none;
}

nav li {
    text-align: center;
    margin: 15px;
}

nav ul li a p {
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 70%;
}

#backButton img {
    max-width: 30%;
}
#backButton p {
    margin: 0;
}

img {
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
}

a {
    text-decoration: none;
}

header picture img {
    max-width: 100%;
    position: relative;
    top: -35px;
}

header>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header>div>button {
    width: 60px;
    position: relative;
    right: 30px;
    top: 25px;
    z-index: 1;
}

header>div>button>img {
    height: 25px;
}

button {
    background-color: transparent;
    color: white;
    border-color: transparent;
}

ul,
li,
li>a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    ;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-black);
    height: 100vh;
    width: 100%;
    z-index: 3;
    position: fixed
}

nav button {
    position: fixed;
    right: 0px;
}

nav ul {
    margin: auto;
}

.style-border,
.style-border a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    max-width: 80%;
}

.style-border div {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    border: 1px solid white;
}

.style-border h2 {
    flex-direction: row;
    align-items: baseline;
}

.style-border img {
    max-width: 100%;
    position: relative;
    left: 10px;
    top: 10px;
}

.style-border span {
    font-size: x-small;
}

.style-border h2, h1, h3 {
    border-bottom: 2px solid var(--woodz-blue);
    margin-bottom: 7px;
    padding-left: 20px;
}

#posts {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts div {
    max-width: 90%;
}

#posts img {
    max-width: 100%;
}

#post {
    max-width: 100%;
}

#post img {
    width: 100%;
    height: 100%;
}

#carousel-section, .cover2 a {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover1 img, .cover3 img{
    max-width: 130%;
    display: block;
    margin: auto;
    position: relative;
}

.cover3 img {
    right: 30%;
}

.cover2 img {
    max-width: 160%;
    z-index: 2;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

#carousel-section i {
    color: var(--woodz-blue);
    font-size: 2rem;
    position: relative;
}

#profile, #discography, #gallery {
    max-width: 70%;
}

#profile-txt {
    clear: both;
}

#gallery img {
    max-width: 100%;
}

#gallery {
    margin: auto;
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
}

#form {
    clear: both;
    max-width: 85%;
    margin: auto;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.5rem;
}



/* #gallery {
    grid-template-columns: auto auto auto;
    grid-column: auto auto auto;
} */